@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
body{
  font-family: 'Fugaz One', cursive; 
  text-align: center;
  
}
.title{
  color:aqua;
  font-weight: bolder;
  background: none;
}
.text{
  color: aliceblue;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  background: none;
}
.jumbotron{
  background-color:darkorange;
}
p{
  color: green;
  width: 600px;
  background-color: rgb(243, 243, 148);
  box-sizing: border-box;
  
  
}
h4{
  color: maroon;
}
#information{
  padding-top: 5%;
  font-size: 22px;
  padding-right: 8%;
  padding-left: 5%;
 
}
#finalmessage{
  display: none;
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 28px;
}
.media{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  background: transparent;
}
input[type=text] {
  background:transparent;
  color: white;
}
::-webkit-input-placeholder {
  background:transparent;
  color: white;
}
.services{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
#address{
  width: 20px;
  margin-left: 40%;
  margin-bottom: 20px;
}
#name{
  width: 100%;
  margin-right: 30%;
  margin-top: 6px;
}
#number{
  box-sizing: border-box;
  display: inline-block;
  border-radius: 4px;
  justify-items: center 
}
input[type=name],input[type=tel],#comment{
  background: transparent;
  color: white;
  font-size: 20px;
  font-family:'Fugaz One', cursive;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 4px;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
.about{
font-size: 20px;
margin-left: 200px;
text-align: left;
width: 650px;
background-color: rgb(245, 245, 145);
}
.col-md-6{
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-sizing: border-box;
}
.col-sm-6{
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
}
.submit{
  margin-top: 10px;
}
ol{
  background: none;
}
h7{
  text-align: left;
}