@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
body{
  font-family: 'Fugaz One', cursive; 
}
.title{
  color:aqua;
  font-weight: bolder;
}
.text{
  color: aliceblue;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}
.jumbotron{
  background-color:darkorange;
}
p{
  color: green;
  width: 800px;
  float: inline-end;
  
}
h4{
  color: maroon;
}
#information{
  padding-top: 5%;
  font-size: 22px;
  padding-right: 8%;
  padding-left: 5%;
 
}
#finalmessage{
  display: none;
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 28px;
